LAB # 01
INTRODUCTION TO PYTHON , OPERATOR ,STRING AND FUNCTION , LOOP AND CONDITIONAL STATEMENTS

In [2]:
# Get input from the user
number = int(input("Enter a number: "))

# Perform the operations
result = (number + 3) * 2 - 4 + 3

# Print the result
print("The result is:", result)

Enter a number: 50
The result is: 105

In [3]:
# Get input from the user
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 1.8) + 32

# Print the result
print(f"The temperature in Fahrenheit is: {fahrenheit}")

Enter temperature in Celsius: 2.4
The temperature in Fahrenheit is: 36.32

In [4]:
import math

# Get input from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate the area of the circle
area = math.pi * (radius ** 2)

# Print the result
print(f"The area of the circle is: {area}")

Enter the radius of the circle: 3.5
The area of the circle is: 38.48451000647496

In [8]:
# Get input from the user
color = input("Enter your favorite color: ")

# Create the required pattern
print((color * 10).center(60))
print((color + ' ' * 8 + color).center(60))
print((color * 10).center(60))

Enter your favorite color: blue
          blueblueblueblueblueblueblueblueblueblue
                      blue        blue
          blueblueblueblueblueblueblueblueblueblue

In [10]:
# Store the person's name with whitespace characters
name = "\t\n   tineshia   \n\t"

# Print the name with whitespace
print("Name with whitespace:")
print(f"'{name}'")  # Using quotes to visualize the whitespace

# Strip functions
print("\nUsing lstrip():")
print(f"'{name.lstrip()}'")  # Removes leading (left) whitespace

print("\nUsing rstrip():")
print(f"'{name.rstrip()}'")  # Removes trailing (right) whitespace

print("\nUsing strip():")
print(f"'{name.strip()}'")  # Removes both leading and trailing whitespace

Name with whitespace:
'
   tineshia
	'

Using lstrip():
'tineshia
	'

Using rstrip():
'
   tineshia'

Using strip():
'tineshia'

In [11]:
# Get input from the user
number = int(input("Enter a number to create its multiplication table: "))

# Print the multiplication table
print(f"Multiplication Table for {number}:")
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number to create its multiplication table: 10
Multiplication Table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [12]:
def describe_city(city, country='Pakistan'):
    print(f"{city} is in {country}.")

# Call the function for three different cities
describe_city('Islamabad')        # Default country (Pakistan)
describe_city('Lahore')           # Default country (Pakistan)
describe_city('New York', 'USA')  # Different country

Islamabad is in Pakistan.
Lahore is in Pakistan.
New York is in USA.

In [13]:
def absolute_num(num):
    if num < 0:
        return -num
    else:
        return num

print(absolute_num(-10))
print(absolute_num(5))
print(absolute_num(0))

10
5
0

In [14]:
char = input("Enter an alphabet: ").lower()

if len(char) != 1 or not char.isalpha():
    print("Please enter a single alphabet character.")
else:
    if char in 'aeiou':
        print(f"{char} is a vowel.")
    else:
        print(f"{char} is a consonant.")

Enter an alphabet: I
i is a vowel.

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number: "))

if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 10
10 is not a prime number.

In [16]:
for number in range(7):
    if number == 3 or number == 6:
        continue
    print(number)

0
1
2
4
5

In [17]:
rows = 5

for i in range(1, rows + 1):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
age = 25

if age < 2:
    print("The person is a baby.")
elif age >= 4 and age < 13:
    print("The person is a kid.")
elif age >= 13 and age < 20:
    print("The person is a teenager.")
elif age >= 20 and age < 65:
    print("The person is an adult.")
else:  # age >= 65
    print("The person is an elder.")

The person is an adult.