LAB # 2
DATASET PREPARATION WITH EXCEL SPREADSHEET AND DATASET PREPROCESSING AND SCALING TECHNIQUES

In [1]:
import pandas as pd

# Sample data for Sheet1 and Sheet2
data_sheet1 = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22]
}

data_sheet2 = {
    'Product': ['Book', 'Pen', 'Notebook'],
    'Price': [15, 5, 10]
}

df_sheet1 = pd.DataFrame(data_sheet1)
df_sheet2 = pd.DataFrame(data_sheet2)

# Write DataFrames to an Excel file with two sheets
with pd.ExcelWriter('sample_data.xlsx') as writer:
    df_sheet1.to_excel(writer, sheet_name='Sheet1', index=False)
    df_sheet2.to_excel(writer, sheet_name='Sheet2', index=False)

In [2]:
# Load the Excel file
excel_data = pd.ExcelFile('sample_data.xlsx')

# Load the two sheets into separate DataFrames
sheet1_df = excel_data.parse(sheet_name='Sheet1')
sheet2_df = excel_data.parse(sheet_name='Sheet2')

# Print the contents of both sheets
print("Contents of Sheet 1:")
print(sheet1_df)

print("\nContents of Sheet 2:")
print(sheet2_df)

Contents of Sheet 1:
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

Contents of Sheet 2:
    Product  Price
0      Book     15
1       Pen      5
2  Notebook     10

In [3]:
import pandas as pd

# Define custom index values
index_values = ['Ali', 'Amir', 'Kamran', 'Sara', 'Zain']

# Define the column names (subjects)
column_names = ['Math', 'Science', 'English', 'History']

# Create sample data for the DataFrame
data = [
    [85, 90, 78, 88],  # Scores for Ali
    [76, 85, 82, 91],  # Scores for Amir
    [89, 92, 80, 84],  # Scores for Kamran
    [91, 87, 88, 90],  # Scores for Sara
    [79, 82, 91, 83]   # Scores for Zain
]

# Create the DataFrame
df = pd.DataFrame(data, columns=column_names, index=index_values)

# Display the DataFrame
print(df)

        Math  Science  English  History
Ali       85       90       78       88
Amir      76       85       82       91
Kamran    89       92       80       84
Sara      91       87       88       90
Zain      79       82       91       83

In [6]:
import pandas as pd

# Define the data
index_values = ['Ali', 'Amir', 'Kamran', 'Sara', 'Zain']
column_names = ['Math', 'Science', 'English', 'History']
data = [
    [85, 90, 78, 88],
    [76, 85, 82, 91],
    [89, 92, 80, 84],
    [91, 87, 88, 90],
    [79, 82, 91, 83]
]

# Create the DataFrame
df = pd.DataFrame(data, columns=column_names, index=index_values)

# Save the DataFrame to an Excel file
df.to_excel('students_scores.xlsx')

In [7]:
# Load the Excel file
df_loaded = pd.read_excel('students_scores.xlsx', index_col=0)

# Select only the first two columns
df_first_two_columns = df_loaded[['Math', 'Science']]

# Print the first two columns
print(df_first_two_columns)

        Math  Science
Ali       85       90
Amir      76       85
Kamran    89       92
Sara      91       87
Zain      79       82

In [8]:
import pandas as pd

# Load the Excel file and skip the first two rows
df = pd.read_excel('students_scores.xlsx', index_col=0, skiprows=2)

# Print the DataFrame
print(df)

        76  85  82  91
Amir
Kamran  89  92  80  84
Sara    91  87  88  90
Zain    79  82  91  83

In [10]:
import pandas as pd

# Sample data for employees with some missing values in the Gender column
data = {
    'EmployeeID': range(1, 51),
    'Name': ['Employee ' + str(i) for i in range(1, 51)],
    'Gender': ['Male', 'Female', None, 'Male', None] * 10  # Some values are None (missing)
}

# Create the DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv('employees.csv', index=False)

In [11]:
# Load the CSV file
df_loaded = pd.read_csv('employees.csv')

# Fill null values in the "Gender" column with "No Gender"
df_loaded['Gender'].fillna('No Gender', inplace=True)

# Print rows 10 to 30 of the DataFrame for visualization
print(df_loaded.iloc[10:30])

    EmployeeID         Name     Gender
10          11  Employee 11       Male
11          12  Employee 12     Female
12          13  Employee 13  No Gender
13          14  Employee 14       Male
14          15  Employee 15  No Gender
15          16  Employee 16       Male
16          17  Employee 17     Female
17          18  Employee 18  No Gender
18          19  Employee 19       Male
19          20  Employee 20  No Gender
20          21  Employee 21       Male
21          22  Employee 22     Female
22          23  Employee 23  No Gender
23          24  Employee 24       Male
24          25  Employee 25  No Gender
25          26  Employee 26       Male
26          27  Employee 27     Female
27          28  Employee 28  No Gender
28          29  Employee 29       Male
29          30  Employee 30  No Gender

<ipython-input-11-7ef3e6aad833>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_loaded['Gender'].fillna('No Gender', inplace=True)

In [12]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('employees.csv')

# Assuming the "Age" and "Salary" columns exist in the data, let's add them to the sample data
import numpy as np
np.random.seed(0)  # For reproducibility

# Add random Age and Salary columns if they don't exist
if 'Age' not in df.columns:
    df['Age'] = np.random.randint(20, 60, size=len(df))  # Random ages between 20 and 60
if 'Salary' not in df.columns:
    df['Salary'] = np.random.randint(30000, 100000, size=len(df))  # Random salaries between 30,000 and 100,000

# Define the Min-Max normalization function
def min_max_normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# Apply normalization to the Age and Salary columns
df['Age_normalized'] = min_max_normalize(df['Age'])
df['Salary_normalized'] = min_max_normalize(df['Salary'])

# Print the first 10 rows to see the normalized values
print("Original and normalized values for Age and Salary:")
print(df[['Age', 'Age_normalized', 'Salary', 'Salary_normalized']].head(10))

# Verify for a single value using the formula
x_i = df['Age'].iloc[0]  # Taking the first Age value
min_x = df['Age'].min()
max_x = df['Age'].max()
x_new = (x_i - min_x) / (max_x - min_x)

print(f"\nVerification for first Age value: {x_i}")
print(f"Manual calculation: {x_new}")
print(f"Normalized value in DataFrame: {df['Age_normalized'].iloc[0]}")

Original and normalized values for Age and Salary:
   Age  Age_normalized  Salary  Salary_normalized
0   20        0.000000   89300           0.887519
1   23        0.076923   50006           0.274422
2   23        0.076923   33560           0.017818
3   59        1.000000   91713           0.925169
4   29        0.230769   75444           0.671327
5   39        0.487179   76522           0.688147
6   41        0.538462   50737           0.285828
7   56        0.923077   58647           0.409246
8   43        0.589744   91353           0.919552
9   26        0.153846   42134           0.151597

Verification for first Age value: 20
Manual calculation: 0.0
Normalized value in DataFrame: 0.0

In [13]:
import pandas as pd
import numpy as np

# Given dictionary
data_dict = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data_dict)

# Interpolate missing values using backward interpolation
df_interpolated = df.interpolate(method='bfill')

# Display the interpolated DataFrame
print(df_interpolated)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

<ipython-input-13-f404be03f6c1>:15: FutureWarning: DataFrame.interpolate with method=bfill is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_interpolated = df.interpolate(method='bfill')